<!doctype html>
<!-- {{MESSAGE}} -->
<html
  lang="en"
  class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <title>Distant Viewing Explorer</title>
    <link rel="stylesheet" href="{{PATH}}/css/reset.css" />
    <link rel="stylesheet" href="{{PATH}}/css/bulma.css" />
    <link rel="stylesheet" href="{{PATH}}/css/site.css" />
    <link href="{{PATH}}/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="{{PATH}}/assets/fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{PATH}}/icon/dlogo.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <script defer data-domain="distantviewing.org" src="https://plausible.io/js/script.hash.js"></script>
  </head>
  <body>
    <script
      src="{{PATH}}/js/pages/{{PAGE}}.js"
      type="module"></script>
  </body>
</html>
